@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    244 Avenue de Turin<br />
    06400 Nice<br />
    <abbr title="Phone">Tél:</abbr>
    06 45 24 84 03
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:cyril.rat@gmail.com">cyril.rat@gmail.com</a><br />
</address>