<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
   <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IABIService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IABIService" contract="ABIService.IABIService"
        name="BasicHttpBinding_IABIService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BasicHttpBinding_IABIService">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="ModelABI" connectionString="data source=(LocalDb)\MSSQLLocalD B;initial catalog=ABICommercialProject.ModelABI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="ABIModel" connectionString="data source=BIP14;initial catalog=ABProjetCommercial;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <!--<add name="ABIModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ABICommercialProject.DAO.ABIModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
