<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
   <system.serviceModel>
    <bindings>
     <basicHttpBinding>
      <binding name="BasicHttpBinding_IABIService" />
     </basicHttpBinding>
    </bindings>
    <client>
     <endpoint address="http://localhost:8733/" binding="basicHttpBinding"
      bindingConfiguration="BasicHttpBinding_IABIService" contract="ABIService.IABIService"
      name="BasicHttpBinding_IABIService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BasicHttpBinding_IABIService">
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
     
  </system.serviceModel>
</configuration>
