<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IABIService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IABIService" contract="ABIService.IABIService"
                name="BasicHttpBinding_IABIService" />
        </client>
    </system.serviceModel>
</configuration>